body {
    background-color: #f4cba1;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}
.container {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logo {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 100px;
    height: 100px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 50%;
}
.character {
    width: 200px;
    height: auto;
}
.message {
    font-size: 24px;
    color: #000;
    margin-top: 20px;
    font-weight: bold;
}
.name {
    font-size: 32px;
    color: #8a2be2;
    margin-top: 10px;
    font-weight: bold;
}

.container button{
    border: none;
    padding: 2vw;
    background-color: #303030;
    color: white;
    border-radius: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: ease-in 0.1s;
}

.container button:hover{
    background-color: white;
    color: #303030;
}